@using SterlingCollection1.Models;
@using System.Web.Script.Serialization;
@model List<Game>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string output = new JavaScriptSerializer().Serialize(Model);
}

<audio id="secret-code">
    <source src="~/Content/Other/Zelda.mp3" type="audio/mpeg" />
</audio>

<div class="list-background">
    <div class="container-fluid all-games">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="all-games-list">
                        <h1>Master Game List</h1>
                        <p class="side-nav-btn">Filter</p>
                        @foreach(Game videogame in Model)
                        {
                            int gameTag = @videogame.Id;
                            <a href="@Url.Action("VideoGames", "Game", new { gameTag = gameTag })">
                                <h2 class="@videogame.Console game-name">@videogame.Name</h2>
                            </a>
                        }
                    </div>
                </div>
                @*<div class="col-md-4">
                    <form class="search-form">
                        <input type="text" class="search" placeholder="Enter a Game" />
                        <ul class="suggestions">
                            <li>Filter for a title</li>
                        </ul>
                    </form>
                </div>*@
            </div>
        </div>
    </div>
</div>

<div class="side-nav">
    <div class="button-box">
        <p class="filter-option" id="close-side"><<<</p>
        <p class="filter-option" id="NES">Nintendo Entertainment System</p>
        <p class="filter-option" id="SNES">Super Nintendo</p>
        <p class="filter-option" id="N64">Nintendo 64</p>
        <p class="filter-option" id="GameBoy">Gameboy</p>
        <p class="filter-option" id="GameCube">Gamecube</p>
        <p class="filter-option" id="GBA">Gameboy Advance</p>
        <p class="filter-option" id="DS">Nintendo DS</p>
        <p class="filter-option" id="3DS">Nintendo 3DS</p>
        <p class="filter-option" id="Wii">Wii</p>
        <p class="filter-option" id="Wiiu">Wii U</p>
        <p class="filter-option" id="PS1">Playstation</p>
        <p class="filter-option" id="PS2">Playstation 2</p>
        <p class="filter-option" id="PS3">Playstation 3</p>
        <p class="filter-option" id="PS4">Playstation 4</p>
        <p class="filter-option" id="Vita">Playstation Vita</p>
        <p class="filter-option" id="Genesis">Sega Genesis</p>
        <p class="filter-option" id="Dreamcast">Sega Dreamcast</p>
        <p class="filter-option" id="Xbox">Xbox</p>
        <p class="filter-option" id="360">Xbox 360</p>
        <p class="filter-option" id="XBOne">Xbox One</p>
        <p class="filter-option" id="remove-btn">Remove All Filters</p>
    </div>
</div>

@*<script>
    $('.side-nav-btn').click(function () {
        $('.side-nav').toggleClass('side-nav-activate')
    });
    $('#NES').click(function () {
        $('#NES').toggleClass('highlight');
        $('.NES').toggleClass('get-out');
        $('.game-name').toggleClass('hidden-box');
    });
    $('#SNES').click(function () {
        $('#SNES').toggleClass('highlight');
        $('.SNES').toggleClass('get-out');
        $('.game-name').toggleClass('hidden-box');
    });
    $('#N64').click(function () {
        $('#N64').toggleClass('highlight');
        $('.N64').toggleClass('get-out');
        $('.game-name').toggleClass('hidden-box');
    });
    $('#GameBoy').click(function () {
        $('#GameBoy').toggleClass('highlight');
        $('.GameBoy').toggleClass('get-out');
        $('.game-name').toggleClass('hidden-box');
    });
    $('#Genesis').click(function () {
        $('#Genesis').toggleClass('highlight');
        $('.Genesis').toggleClass('get-out');
        $('.game-name').toggleClass('hidden-box');
    });
    $('#PS1').click(function () {
        $('#PS1').toggleClass('highlight');
        $('.PS1').toggleClass('get-out');
        $('.game-name').toggleClass('hidden-box');
    });
    $('#PS2').click(function () {
        $('#PS2').toggleClass('highlight');
        $('.PS2').toggleClass('get-out');
        $('.game-name').toggleClass('hidden-box');
    });
    $('#PS3').click(function () {
        $('#PS3').toggleClass('highlight');
        $('.PS3').toggleClass('get-out');
        $('.game-name').toggleClass('hidden-box');
    });
    $('#PS4').click(function () {
        $('#PS4').toggleClass('highlight');
        $('.PS4').toggleClass('get-out');
        $('.game-name').toggleClass('hidden-box');
    });
    $('#GBA').click(function () {
        $('#GBA').toggleClass('highlight');
        $('.GBA').toggleClass('get-out');
        $('.game-name').toggleClass('hidden-box');
    });
    $('#GameCube').click(function () {
        $('#GameCube').toggleClass('highlight');
        $('.GameCube').toggleClass('get-out');
        $('.game-name').toggleClass('hidden-box');
    });
    $('#Xbox').click(function () {
        $('#Xbox').toggleClass('highlight');
        $('.Xbox').toggleClass('get-out');
        $('.game-name').toggleClass('hidden-box');
    });
    $('#Dreamcast').click(function () {
        $('#Dreamcast').toggleClass('highlight');
        $('.Dreamcast').toggleClass('get-out');
        $('.game-name').toggleClass('hidden-box');
    });
    $('#Wii').click(function () {
        $('#Wii').toggleClass('highlight');
        $('.Wii').toggleClass('get-out');
        $('.game-name').toggleClass('hidden-box');
    });
    $('#DS').click(function () {
        $('#DS').toggleClass('highlight');
        $('.DS').toggleClass('get-out');
        $('.game-name').toggleClass('hidden-box');
    });
    $('#3DS').click(function () {
        $('#3DS').toggleClass('highlight');
        $('.3DS').toggleClass('get-out');
        $('.game-name').toggleClass('hidden-box');
    });
    $('#360').click(function () {
        $('#360').toggleClass('highlight');
        $('.360').toggleClass('get-out');
        $('.game-name').toggleClass('hidden-box');
    });
    $('#Vita').click(function () {
        $('#Vita').toggleClass('highlight');
        $('.Vita').toggleClass('get-out');
        $('.game-name').toggleClass('hidden-box');
    });
    $('#WiiU').click(function () {
        $('#WiiU').toggleClass('highlight');
        $('.WiiU').toggleClass('get-out');
        $('.game-name').toggleClass('hidden-box');
    });
    $('#XBOne').click(function () {
        $('#XBOne').toggleClass('highlight');
        $('.XBOne').toggleClass('get-out');
        $('.game-name').toggleClass('hidden-box');
    });
</script>*@

<script src="~/Scripts/GameTypeAhead.js"></script>
<script src="~/Scripts/Konami.js"></script>
