@using SterlingCollection1.Models;
@using System.Web.Script.Serialization;
@model List<Game>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string output = new JavaScriptSerializer().Serialize(Model);
}

<audio id="secret-code">
    <source src="~/Content/Other/Zelda.mp3" type="audio/mpeg" />
</audio>

<div class="list-background">
    <div class="container-fluid all-games">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="all-games-list">
                        <h1>Master Game List</h1>
                        <p class="side-nav-btn">Filter</p>
                        @foreach(Game videogame in Model)
                        {
                            int gameTag = @videogame.Id;
                            <a href="@Url.Action("VideoGames", "Game", new { gameTag = gameTag })">
                                <h2 class="@videogame.Console game-name">@videogame.Name</h2>
                            </a>
                        }
                    </div>
                </div>
                @*<div class="col-md-4">
                    <form class="search-form">
                        <input type="text" class="search" placeholder="Enter a Game" />
                        <ul class="suggestions">
                            <li>Filter for a title</li>
                        </ul>
                    </form>
                </div>*@
            </div>
        </div>
    </div>
</div>

<div class="side-nav">
    <div class="button-box">
        <p class="filter-option" id="close-side"><<<</p>
        <p class="filter-option" id="NES">Nintendo Entertainment System</p>
        <p class="filter-option" id="SNES">Super Nintendo</p>
        <p class="filter-option" id="N64">Nintendo 64</p>
        <p class="filter-option" id="GameBoy">Gameboy</p>
        <p class="filter-option" id="GameCube">Gamecube</p>
        <p class="filter-option" id="GBA">Gameboy Advance</p>
        <p class="filter-option" id="DS">Nintendo DS</p>
        <p class="filter-option" id="3DS">Nintendo 3DS</p>
        <p class="filter-option" id="Wii">Wii</p>
        <p class="filter-option" id="Wiiu">Wii U</p>
        <p class="filter-option" id="PS1">Playstation</p>
        <p class="filter-option" id="PS2">Playstation 2</p>
        <p class="filter-option" id="PS3">Playstation 3</p>
        <p class="filter-option" id="PS4">Playstation 4</p>
        <p class="filter-option" id="Vita">Playstation Vita</p>
        <p class="filter-option" id="Genesis">Sega Genesis</p>
        <p class="filter-option" id="Dreamcast">Sega Dreamcast</p>
        <p class="filter-option" id="Xbox">Xbox</p>
        <p class="filter-option" id="360">Xbox 360</p>
        <p class="filter-option" id="XBOne">Xbox One</p>
        <p class="filter-option" id="remove-btn">Remove All Filters</p>
    </div>
</div>

<script src="~/Scripts/Konami.js"></script>
