@using SterlingCollection1.Models;
@model Game

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="container">
        <div class="game-info">
            <img src=@("../Content/Games/" + Model.CoverArt) />
            <h1>@Model.Name</h1>
            <h3>@Model.Console</h3>
            <h3>@Model.ReleaseYear</h3>
            <h3>@Model.Publisher</h3>
        </div>
    </div>
</div>

