body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Share Tech Mono', monospace;
    background-image:url(Backgrounds/dark-background.jpg); background-size:cover; background-attachment:fixed; background-repeat:no-repeat;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*HOME PAGE*/
.home-background{background-image: url('Backgrounds/Cyberpunk5.jpg'); background-size:cover; background-repeat:no-repeat; background-attachment:fixed; min-height:100vh;}
.home-main{background:rgba(0,0,0,0.7); height:50vh;}
.home-container>h1{font-size:75px; font-weight:700; text-align:center; font-family:'Share Tech Mono', monospace; color:cyan;}
.home-container>p{font-size:32px; color:cyan; text-align:center;}

/*Game Category Page*/
.list-background{background-image: url('Backgrounds/Cyberpunk.jpg'); background-size:cover; background-repeat:no-repeat; background-attachment:fixed; min-height:100vh;}
.all-games-list, .search-form { background: rgba(5,0,58,0.7); /*border:solid 3px #a8a643; margin-top:20px;*/}
.all-games-list>h1, .all-albums-list>h1{font-size:75px; font-weight:700; color:#fff; text-align:center; color:cyan; font-family: 'Share Tech Mono', monospace;}
.all-games-list>a>h2, .suggestions>li{font-size:28px; line-height:1.0 ; color:#fff; text-align:left; margin-left:10%; padding-top:2px; padding-bottom:2px; font-family: 'Share Tech Mono', monospace;}
.all-games-list>a:hover, .record-anchor:hover{text-decoration:none !important;}
.all-games-list>a>h2:hover, .record-info:hover{background-color:cyan; margin-left:0; padding-left:10%; text-decoration-line:none; color:#000; padding-top:2px; padding-bottom:2px;}
.preview-image{display:none; float:right; max-height:350px; background:#fff}
.search-form{margin-top:20px;}
.suggestions>li{margin-top:5px; margin-bottom:5px; line-height:1.0; font-size:24px; list-style-type:none; text-transform:uppercase;}
.hl{background:rgba(255,0,255,0.6); color:#fff;}
.search{background-color:rgba(255,0,255,0.8); width:90%; display:block; margin:auto; border:none; height:35px; color:#fff; font-weight:700; text-transform:uppercase;}
.hidden-box{display:none;}
.get-out{display:block !important;}
.side-nav{position:absolute; display:none; background:rgba(5,0,58,0.7);}
.side-nav-activate{display:block; position:absolute; width:18%; left:0 !important; top:10%;}
.button-box>p{color:#fff; font-size:24px; padding-left:10px;}
.button-box>p:hover{cursor:pointer;}
.highlight{color:rgba(255,0,255,0.8) !important;}
#close-side{color:cyan; text-align:right; font-size:40px; padding-right:10px; font-weight:900;}

/*VIDEO GAMES PAGE*/
.game-info>img{max-height:500px; display:block; margin:auto;}
.game-info>h1{font-size:75px; color:#fff; text-align:center;}
.game-info>h3{font-size:32px; color:#fff; text-align:center}

/*Vinyl Records View*/
.record-list-background{background-image: url('Backgrounds/Cyberpunk3.jpg'); background-size:cover; background-repeat:no-repeat; background-attachment:fixed; min-height:100vh;}
.album-grid{display:flex !important; flex-wrap:wrap;}
.overlay{width:25%; height:auto; overflow:hidden; color:none; position:relative;}
.overlay:hover{background-color:rgba(0,0,0,0.6); color:#fff; position:relative; width:25%; height:auto;}
.art-box{width:100%; height:100%; /*border:solid 3px rgba(5,0,58,0.7);*/}
.art-box:hover{transition:0.5s ease; transform:scale(1.2);}
#grid-btn, .side-nav-btn{font-size:36px; color:#fff; border:solid 3px #fff; width:200px; text-align:center;}
#grid-btn{margin:auto;}
#grid-btn:hover, .side-nav-btn{cursor:pointer}
.side-nav-btn-active{color:rgba(2,0,255,0.7) !important; border:solid 3px rgba(255,0,255,0.7) !important;}
.grid-btn-active{color:cyan !important; border:solid 3px cyan !important;}
.record-info{font-size:28px; line-height:1.0 ; color:cyan; text-align:left; margin-left:10%; padding-top:2px; padding-bottom:2px; font-family: 'Share Tech Mono', monospace;}
.all-albums-list{ background: rgba(255,0,255,0.3);}

/*MOVIES VIEW*/
.movie-list-background{background-image:url('Backgrounds/Cyberpunk4.jpg'); background-size:cover; background-repeat:no-repeat; background-attachment:fixed; min-height:100vh;}
.all-movies-list{background:rgba(50,205,50,0.7);}
.all-movies-list>h1{font-size:75px; font-weight:700; color:#fff; text-align:center; color:cyan; font-family: 'Share Tech Mono', monospace;}
.movie-info{font-size:28px; line-height:1.0 ; color:#fff; text-align:left; margin-left:10%; padding-top:2px; padding-bottom:2px; font-family: 'Share Tech Mono', monospace;}
.movie-info:hover{background-color:cyan; margin-left:0; padding-left:10%; text-decoration-line:none; color:#000; padding-top:2px; padding-bottom:2px;}
.movie-suggestions>li{margin-top:5px; margin-bottom:5px; line-height:1.0; font-size:24px; list-style-type:none; text-transform:uppercase; color:#fff; text-shadow:2px 2px #000;}
.movie-search{background-color:cyan; width:90%; display:block; margin:auto; border:none; height:35px; color:#000; font-weight:700; text-transform:uppercase;}
.mhl {background-color: rgba(255,0,255,0.8);}

/* MOBILE DISPLAY */
@media screen and (max-width:767px) {
    .home-main{height:100%; margin-top:10%;}
    .all-games{margin-top:5%;}
    .all-movies{margin-top:5%;}
    .side-nav-activate{width:100%; background:rgba(5,0,58,0.9);}
    .nav>li{display:inline-block;}
    .navbar-nav{margin-top:0px !important; margin-bottom:0px;}
    .navbar-brand{padding-bottom:15px;}
    .side-nav-btn{display:block; margin:auto;}
    #grid-btn{margin:auto; display:block;}
    .overlay{width:100%;}
    .album-cover, .game-info>img{max-width:100%; height:auto; margin-top:50px !important;}
}

/* TABLET DISPLAY */
@media screen and (max-width:992px) {
    .side-nav-activate{width:50%; background:rgba(5,0,58,0.9);}
    h3{margin:5px; font-size:24px !important;}
}