@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="home-background">
    <div class="container-fluid home-main">
        <div class="container home-container">
            <h1>The Sterling Collection</h1>
            <p>The Sterling Collection contains a vast array of electronic media that I have collected over the years.  The collection consists primarily of video games, music, and movies, but also has some other treasures as well.</p>
        </div>
    </div>
</div>