@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="jumbotron">
    <h1>The Sterling Collection</h1>
    <p class="lead">As a collector of the finer things in life, The Sterling Collection gives users the opportunity to view my entire collection of gaming, music, and movies.</p>
</div>

<div class="row">
    <div class="col-md-4 home-info">
        <h2>Gaming</h2>
        <p>
            View the video games, consoles, accessories, and collector's items that make up The Sterling Collection.
        </p>
    </div>
    <div class="col-md-4 home-info">
        <h2>Music</h2>
        <p>View the CDs and Vinyl Records that make up The Sterling Collection.</p>
    </div>
    <div class="col-md-4 home-info">
        <h2>Movies</h2>
        <p>View the Blu-Rays and DVDs that make up The Sterling Collection.</p>
    </div>
</div>